.user-login {
    padding: 5px;
    background-color: green;
    color: ivory;
    text-align: center;
    border-radius: 5px;
    border: 1px solid var(--course-fnt-color);
    font-size: var(--course-fnt-size);
}
